vim/vim/.netrwhist
vim/pathogen/
vim/autoload/pathogen.vim
vim/vim/bundle/
vim/vim/autoload/
awesome/awesome/vicious
awesome/awesome/obvious
awesome/awesome/lain
awesome/awesome/widgets
irssi/irssi/config
mutt/mutt/hcache
mutt/mutt/cache
mutt/mutt/*.gpg
pulse/pulse/cookie
emulationstation/emulationstation/gamelists
emulationstation/emulationstation/es_log.txt
sway/sway/config.local
sway/sway/img
gdb/gdb/gdb_history
