# arduino
SUBSYSTEMS=="usb", ATTRS{idVendor}=="2341", ATTRS{idProduct}=="0043", SYMLINK+="arduino", GROUP="users", MODE="0666"

# bus pirate
SUBSYSTEMS=="usb", ATTRS{idVendor}=="0403", ATTRS{idProduct}=="6001", SYMLINK+="bus_pirate", GROUP="users", MODE="0666"

# Pololu Micro Maestro 6-Servo Controller
SUBSYSTEMS=="usb", ATTRS{idVendor}=="1ffb", ATTRS{idProduct}=="0089", SYMLINK+="maestro", GROUP="users", MODE="0666"


# Phones
#
# One plus one 3t
SUBSYSTEMS=="usb", ATTRS{idVendor}=="2a70", ATTRS{idProduct}=="904d", MODE="0666", GROUP="users", SYMLINK+="oneplusone3t"

# Various USB serial adapters.
#
# Prolific Technology (idVendor: 0x067b), PL2303 Serial Port (idProduct: 0x2303)
SUBSYSTEMS=="usb", KERNEL=="ttyUSB*", ATTRS{idVendor}=="067b", ATTRS{idProduct}=="2303", GROUP="users", MODE="0666", SYMLINK+="board%n"
# Future Technology Devices International (idVendor: 0x0403), FT232 Serial UART IC (idProduct: 0x6001)
SUBSYSTEMS=="usb", KERNEL=="ttyUSB*", ATTRS{idVendor}=="0403", ATTRS{idProduct}=="6001", GROUP="users", MODE="0666", SYMLINK+="board%n"
# Silicon Lab (idVendor: 0x10c4), 0238275F (idProduct: 0xea60)
SUBSYSTEMS=="usb", KERNEL=="ttyUSB*", ATTRS{idVendor}=="10c4", ATTRS{idProduct}=="ea60", GROUP="users", MODE="0666", SYMLINK+="board%n"
