[Unit]
Description=SSH key agent

[Service]
Type=forking
Environment=SSH_AUTH_SOCK=/tmp/ssh-agent.socket
ExecStart=/usr/bin/ssh-agent -a $SSH_AUTH_SOCK
ExecStartPost=/usr/bin/ln -sf $SSH_AUTH_SOCK $HOME/.ssh/ssh_auth_sock

[Install]
WantedBy=default.target
