[Unit]
Description=OpenSSH agent
Documentation=man:ssh-agent(1) man:ssh-add(1) man:ssh(1)

[Service]
Type=simple
Environment=SSH_AUTH_SOCK=%t/ssh-agent
ExecStart=/usr/bin/ssh-agent -D -a $SSH_AUTH_SOCK
ExecStartPost=/usr/bin/ln -sf $SSH_AUTH_SOCK %h/.ssh/ssh_auth_sock
ExecStartPost=/usr/bin/ln -sf $SSH_AUTH_SOCK %T/ssh-agent.socket

[Install]
WantedBy=default.target
